{
    "jsxSingleQuote": false,
    "arrowParens": "avoid",
    "tabWidth": 4,
    "printWidth": 100,
    "experimentalTernaries": true,
    "singleQuote": false,
    "plugins": ["prettier-plugin-tailwindcss"]
}
