:root {
    --font-body: "Inria Sans", sans-serif;
    --font-heading: "Inria Sans, SemiBold", sans-serif;
    --font-ratio: 1.2;

    --color-text: #eeecec;
    --color-background: #170e0f;
    --color-primary: #e89393;
    --color-secondary: #8a1212;
    --color-tertiary: #520b0b;
    --color-accent: #f31717;
    --color-shadow: 220deg 15% 70%
}
